flavors/kanagawa.yazi/
plugins/chmod.yazi/
plugins/copy-as.yazi/
plugins/copy-file-contents.yazi/
plugins/faster-piper.yazi/
plugins/full-border.yazi/
plugins/mime-ext.yazi/
plugins/ouch.yazi/
plugins/smart-enter.yazi/
plugins/smart-paste.yazi/
plugins/split-tabs.yazi/
plugins/tv.yazi/
plugins/yaziline.yazi/
